<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="secondary" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="../assets/logo3.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Número de identificação (TAG)</ion-label>
      <ion-input maxlength="20" formControlName="tag" type="text"></ion-input>
    </ion-item>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.tag.errors?.required">
      O campo TAG é obrigatório.
    </span>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.tag.errors?.minlength">
      Min 3 caracteres.
    </span>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.tag.errors?.maxlength">
      Max 20 caracteres.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Diâmetro interno (mm)</ion-label>
      <ion-input formControlName="diametro" type="text"></ion-input>
    </ion-item>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.diametro.errors?.required">
      O campo diâmetro é obrigatório.
    </span>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.diametro.errors?.pattern">
      Somente números permitidos para diamentro.
    </span>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.diametro.errors?.min">
      O valor deve ser maior ou igual a 150.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Espessura mínima do casco</ion-label>
      <ion-input formControlName="espmincasco" type="text"></ion-input>
    </ion-item>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.espmincasco.errors?.required">
      O campo diâmetro é obrigatório.
    </span>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.espmincasco.errors?.pattern">
      Somente números permitidos para diamentro.
    </span>
  
    <ion-item lines="full">
      <ion-label position="floating">Espessura mínima do tampo 1</ion-label>
      <ion-input formControlName="espmintampo1" type="text"></ion-input>
    </ion-item>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.espmintampo1.errors?.required">
      Este campo é obrigatório.
    </span>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.espmintampo1.errors?.pattern">
      Somente números permitidos para este campo.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Espessura mínima do tampo 2</ion-label>
      <ion-input formControlName="espmintampo2" type="text"></ion-input>
    </ion-item>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.espmintampo2.errors?.required">
      Este campo é obrigatório.
    </span>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.espmintampo2.errors?.pattern">
      Somente números permitidos para este campo.
    </span>

    <ion-item>
      <ion-label>Material</ion-label>
      <ion-select [(ngModel)]="material" okText="Selecionar"  formControlName="material" cancelText="Cancelar">
        <ion-select-option value="108.0">A-285-C</ion-select-option>
        <ion-select-option value="117.8">A-515-60 </ion-select-option>
        <ion-select-option value="137.7">A-516-70</ion-select-option>
        <ion-select-option value="118.0">A-387-11 cl 1</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.material.errors?.required">
      Este campo é obrigatório.
    </span>

    <ion-item>
      <ion-label position="floating">Coeficiente de eficiência da solda</ion-label>
      <ion-select [(ngModel)]="eficiencia" okText="Selecionar"  formControlName="solda"  cancelText="Cancelar">
        <ion-select-option value="1.00">1,00</ion-select-option>        
        <ion-select-option value="0.85">0,85</ion-select-option>
        <ion-select-option value="0.7">0,7</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="advise error ion-padding" *ngIf="submitted && errorCtr.solda.errors?.required">
      Este campo é obrigatório.
    </span>


    <!--

      <ion-item lines="full">
        <ion-label position="floating">DOB</ion-label>
        <ion-datetime (ionChange)="fetchDate($event)" formControlName="dob" [value]="defaultDate"></ion-datetime>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Phone</ion-label>
        <ion-input maxlength="10" formControlName="phone" type="text" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.phone.errors?.required">
        Phone number is required.
      </span>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.phone.errors?.pattern">
        Number values allowed.
      </span>

    -->


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="light" expand="block">Confirmar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>