<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="secondary" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{img}}"/>
  <div id="print-wrapper">

    <div> <ion-img src="../assets/logo3.png"></ion-img></div>
    <div align="center">
      <h1 style="color: #00C2CB;">Relatório de PMTA do Vaso de Pressão</h1>
      <h5>Cálculo realizado pelo Código ASME Seção VIII, Divisão 1</h5>
      <h6>Ano de Edição 2015</h6>
    </div>
    
    <div lign="center">
      <br>
      <ion-card>
        <h6 style="padding-left: 10px;"><b><u>Informações:</u></b></h6>
        <ion-grid>
    
          <ion-row>
            <ion-col size="9">
              Número de identificação (TAG):
            </ion-col>
            <ion-col size="3">
             {{dadosBrutos.tag}}
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
            Diametro interno:
            </ion-col>
            <ion-col size="3">
             {{dadosBrutos.diametro}} mm
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
              Material:
            </ion-col>
            <ion-col size="3">
             {{dadosBrutos.material}} 
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
              Tensão admissível:
            </ion-col>
            <ion-col size="3">
             {{dadosBrutos.tensao}} MPa
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
              Coeficiente de eficiência da solda:
            </ion-col>
            <ion-col size="3">
             {{dadosBrutos.solda}}
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
              Tipo de inspeção na solda:
            </ion-col>
            <ion-col size="3">
             {{dadosBrutos.tipoSolda}}
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
              Espessura mínima do casco:
            </ion-col>
            <ion-col size="3">
             {{dadosBrutos.espmincasco}} mm
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
              Espessura mínima do tampo 1:
            </ion-col>
            <ion-col size="3">
             {{dadosBrutos.espmintampo1}} mm
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
              Espessura mínima do tampo 2:
            </ion-col>
            <ion-col size="3">
             {{dadosBrutos.espmintampo2}} mm
            </ion-col>    
          </ion-row>
          
        </ion-grid>
      </ion-card>
      <ion-card>
        <h6 style="padding-left: 10px;"><b><u>PMTA das partes do vaso de pressão:</u></b></h6>
        <ion-grid>
    
          <ion-row>
            <ion-col size="9">
              PMTA do casco:
            </ion-col>
            <ion-col size="3">
             {{dados.pmtaCasco}} MPa
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
              PMTA do tampo 1:
            </ion-col>
            <ion-col size="3">
              {{dados.pmtaTampo1}} MPa
            </ion-col>    
          </ion-row>
          <ion-row>
            <ion-col size="9">
              PMTA do tampo 2:
            </ion-col>
            <ion-col size="3">
              {{dados.pmtaTampo2}} MPa
            </ion-col>    
          </ion-row>        
        </ion-grid>
      </ion-card>
  
      <ion-card>
        <ion-card-content> 
  
          <h6 style="padding-left: 10px;"><b><u>Resultado:</u></b></h6>
          <br>
          <p>PMTA é o maior valor de pressão a que um equipamento pode ser submetido
            continuamente. Sendo assim, o seu valor deve ser o menor dentre as calculadas para as
            partes do vaso. Logo, a PMTA do vaso de pressão com TAG {{dadosBrutos.tag}} é {{menorPMTA}} MPa.</p>
          </ion-card-content>
        </ion-card>
    </div>
  </div>
  <ion-button (click)="createPdf()" color="danger" expand="full">Gera PDF</ion-button>
  

</ion-content>
