<ion-content>
  <ion-img class=" animate__animated animate__bounce" src="../assets/logo2.png"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col >
        <div  class="ion-text-center">
          <h3>Bem-vindo</h3>
          O EngScript irá calcular a PMTA do vaso de pressão. Para isso, você precirá fornecer algumas informações
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <ion-button color="secondary" fill="outline" shape="round" (click)="showpagediametro()">Iniciar
          <ion-icon slot="start" name="play"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-content>